NodeRedApps/iRobot.json
[{"id":"e08e01ea.466ab","type":"tab","label":"Flow 1"},{"id":"726ee5a.9615a1c","type":"ui_template","z":"e08e01ea.466ab","group":"b8bc7838.4dc098","name":"Sensors","order":1,"width":"6","height":"6","format":"\n<!DOCTYPE html>\n\n<style>\n/* CSS RESET */\n\nhtml, body, div, span, applet, object, iframe,\nh1, h2, h3, h4, h5, h6, p, blockquote, pre,\na, abbr, acronym, address, big, cite, code,\ndel, dfn, em, img, ins, kbd, q, s, samp,\nsmall, strike, strong, sub, sup, tt, var,\nb, u, i, center,\ndl, dt, dd, ol, ul, li,\nfieldset, form, label, legend,\ntable, caption, tbody, tfoot, thead, tr, th, td,\narticle, aside, canvas, details, embed, \nfigure, figcaption, footer, header, hgroup, \nmenu, nav, output, ruby, section, summary,\ntime, mark, audio, video\n\n{\n\tmargin: 0;\n\tpadding: 0;\n\tborder: 0;\n\tfont-size: 100%;\n\tfont: inherit;\n\tvertical-align: baseline;\n}\n\narticle, aside, details, figcaption, figure, \nfooter, header, hgroup, menu, nav, section\n{\n\tdisplay: block;\n}\n\nbody\n{\n\tline-height: 1;\n}\n\nol, ul\n{\n\tlist-style: none;\n}\n\nblockquote, q\n{\n\tquotes: none;\n}\n\nblockquote:before, blockquote:after,\nq:before, q:after\n{\n\tcontent: '';\n\tcontent: none;\n}\n\ntable\n{\n\tborder-collapse: collapse;\n\tborder-spacing: 0;\n}\n\n/* CONTAINERS */\n\n.container\n{\n\tmax-width:430px;\n\tmargin:50px auto 0 auto;\n}\n\n.f-container\n{\n\tmargin:0 15px;\n}\n\n/* FORM DEMO */\n\n.f-wall\n{\n\twidth:100%;\n\theight:12px;\n\tposition:relative;\n\tborder:4px dashed #ff0000;\n\tborder-left:none;\n\tborder-right:none;\n}\n\n.f-wall:before\n{\n\ttop:4px;\n\tleft:0;\n\tright:0;\n\tcontent:'';\n\tdisplay:block;\n\tposition:absolute;\n\tborder-bottom:4px dashed #ff0000;\n}\n\n.f-wall.f-active,\n.f-wall.f-active:before,\n.f-wall.f-active:after\n{\n\tborder-color:#32cd32;\n}\n\n.f-circle\n{\n\twidth:75%;\n\tpadding-bottom:75%;\n\tbackground-color:#000;\n\tposition:relative;\n\tmargin:15px auto;\n\tborder-radius:50%;\n}\n\n.f-left-bumper,\n.f-right-bumper\n{\n\ttop:0;\n\tleft:0;\n\tright:0;\n\tbottom:0;\n\tborder-radius:50%;\n\tposition:absolute;\n\ttransform:rotate(45deg);\n\tborder:5px solid transparent;\n}\n\n.f-left-bumper\n{\n\tborder-left-color:#ff0000;\n}\n\n.f-left-bumper.f-active\n{\n\tborder-left-color:#32cd32;\n}\n\n.f-right-bumper\n{\n\tborder-top-color:#ff0000;\n}\n\n.f-right-bumper.f-active\n{\n\tborder-top-color:#32cd32;\n}\n\n.f-cliff-front-left\n{\n\ttop:10%;\n\tleft:30%;\n\tright:63%;\n\tbottom:87%;\n\tposition:absolute;\n\tbackground-color:#ff0000;\n}\n\n.f-cliff-front-left.f-active\n{\n\tbackground-color:#32cd32;\n}\n\n.f-cliff-front-right\n{\n\ttop:10%;\n\tleft:63%;\n\tright:30%;\n\tbottom:87%;\n\tposition:absolute;\n\tbackground-color:#ff0000;\n}\n\n.f-cliff-front-right.f-active\n{\n\tbackground-color:#32cd32;\n}\n\n.f-cliff-left\n{\n\ttop:25%;\n\tleft:14%;\n\tright:79%;\n\tbottom:72%;\n\tposition:absolute;\n\tbackground-color:#ff0000;\n}\n\n.f-cliff-left.f-active\n{\n\tbackground-color:#32cd32;\n}\n\n.f-cliff-right\n{\n\ttop:25%;\n\tleft:79%;\n\tright:14%;\n\tbottom:72%;\n\tposition:absolute;\n\tbackground-color:#ff0000;\n}\n\n.f-cliff-right.f-active\n{\n\tbackground-color:#32cd32;\n}\n\n.f-left-wheel\n{\n\ttop:37%;\n\tleft:11%;\n\tright:77%;\n\tbottom:38%;\n\tposition:absolute;\n\tbackground-color:#808080;\n\tborder:5px solid #ff0000;\n}\n\n.f-left-wheel.f-active\n{\n\tborder-color:#32cd32;\n}\n\n.f-right-wheel\n{\n\ttop:37%;\n\tleft:77%;\n\tright:11%;\n\tbottom:38%;\n\tposition:absolute;\n\tbackground-color:#808080;\n\tborder:5px solid #ff0000;\n}\n\n.f-right-wheel.f-active\n{\n\tborder-color:#32cd32;\n}\n\n</style>\n\n<script>\n\n(function(scope)\n{\n    \n    function bit_check(num, bit)\n    {\n        return ((num>>bit) % 2 != 0)\n    }\n    \n    function bit_set(num, bit)\n    {\n        return num | 1<<bit;\n    }\n    \n    function bit_clear(num, bit)\n    {\n        return num & ~(1<<bit);\n    }\n    \n    function bit_toggle(num, bit)\n    {\n        return bit_check(num, bit) ? bit_clear(num, bit) : bit_set(num, bit);\n    }\n\n    // Check for message.\n    var timer = setInterval(function()\n    {\n        // Clear the timer.\n        clearInterval(timer);\n        \n        // Watch for an incoming NR msg\n        scope.$watch('msg', function (msg)\n        {\n            // Validate message\n            if (msg)\n            {\n                // Wall sensor\n                if(msg.payload.Wall == 1)\n                {\n                    //simple deactivation\n                    $('.f-wall').removeClass('f-active');\n                }\n                else\n                {\n                    //simple activation\n                    $('.f-wall').addClass('f-active');\n                }\n                \n                // Cliff left\n                if(msg.payload.CliffLeft == 1)\n                {\n                    //simple deactivation\n                    $('.f-cliff-left').removeClass('f-active');\n                }\n                else\n                {\n                    //simple activation\n                    $('.f-cliff-left').addClass('f-active');\n                }\n                \n                // Cliff Front Left\n                if(msg.payload.CliffFrontLeft == 1)\n                {\n                    //simple deactivation\n                    $('.f-cliff-front-left').removeClass('f-active');\n                }\n                else\n                {\n                    //simple activation\n                    $('.f-cliff-front-left').addClass('f-active');\n                }\n                \n                // Cliff Front Right\n                if(msg.payload.CliffFrontRight == 1)\n                {\n                    //simple deactivation\n                    $('.f-cliff-front-right').removeClass('f-active');\n                }\n                else\n                {\n                    //simple activation\n                    $('.f-cliff-front-right').addClass('f-active');\n                }\n                \n                // Cliff Right\n                if(msg.payload.CliffRight == 1)\n                {\n                    //simple deactivation\n                    $('.f-cliff-right').removeClass('f-active');\n                }\n                else\n                {\n                    //simple activation\n                    $('.f-cliff-right').addClass('f-active');\n                }\n                \n                // Right bumper\n                if(bit_check(msg.payload.BumpersAndWheelDrops, 0))\n                {\n                    //simple deactivation\n                    $('.f-right-bumper').removeClass('f-active');\n                }\n                else\n                {\n                    //simple activation\n                    $('.f-right-bumper').addClass('f-active');\n                }\n                \n                // Left bumper\n                if(bit_check(msg.payload.BumpersAndWheelDrops, 1))\n                {\n                    //simple deactivation\n                    $('.f-left-bumper').removeClass('f-active');\n                }\n                else\n                {\n                    //simple activation\n                    $('.f-left-bumper').addClass('f-active');\n                }\n                \n                // \n                if(bit_check(msg.payload.BumpersAndWheelDrops, 2))\n                {\n                    //simple deactivation\n                    $('.f-right-wheel').removeClass('f-active');\n                }\n                else\n                {\n                    //simple activation\n                    $('.f-right-wheel').addClass('f-active');\n                }\n                \n                // \n                if(bit_check(msg.payload.BumpersAndWheelDrops, 3))\n                {\n                    //simple deactivation\n                    $('.f-left-wheel').removeClass('f-active');\n                }\n                else\n                {\n                    //simple activation\n                    $('.f-left-wheel').addClass('f-active');\n                }\n            }\n        }); //close out the watch \n    }, 50); // close out the setInterval \n})(scope);\n\t\n</script>\n\n<md-card>\n\t<div class=\"f-container\">\n\t\t<div class=\"f-wall f-active\"></div>\n\t\t<div class=\"f-circle\">\n\t\t\t<div class=\"f-left-bumper f-active\"></div>\n\t\t\t<div class=\"f-right-bumper f-active\"></div>\n\t\t\t<div class=\"f-cliff-front-left f-active\"></div>\n\t\t\t<div class=\"f-cliff-front-right f-active\"></div>\n\t\t\t<div class=\"f-cliff-left f-active\"></div>\n\t\t\t<div class=\"f-cliff-right f-active\"></div>\n\t\t\t<div class=\"f-left-wheel f-active\"></div>\n\t\t\t<div class=\"f-right-wheel f-active\"></div>\n\t\t</div>\n\t</div>\n</md-card>\n\n<!--<div ng-bind-html=\"msg.payload\"></div>-->","storeOutMessages":true,"fwdInMessages":true,"x":1025,"y":1142,"wires":[[]]},{"id":"f412b3c5.682fc","type":"ui_gauge","z":"e08e01ea.466ab","name":"","group":"b9a00ba.424a9f8","order":0,"width":0,"height":0,"gtype":"gage","title":"Voltage","label":"mV","format":"{{value}}","min":0,"max":"35000","colors":["#ca3838","#e6e600","#00b500"],"seg1":"","seg2":"","x":1025,"y":1242,"wires":[]},{"id":"ca4fa44b.4840b8","type":"mqtt in","z":"e08e01ea.466ab","name":"iRobot output topic","topic":"pt/str/o/robot/2","qos":"2","broker":"9341af7f.f445c","x":115,"y":1142,"wires":[["5dab2718.c99ed8"]]},{"id":"5dab2718.c99ed8","type":"function","z":"e08e01ea.466ab","name":"To JS object","func":"msg.payload = JSON.parse(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":335,"y":1142,"wires":[["726ee5a.9615a1c","9fa2ea72.be19e8","7f7cd3ea.cad6cc","5adf41b8.5e4a7","3e3c6bc0.99b384","d9f6b931.eecf78","375aabbf.8ae604","da692cb8.5218e","7c3c566f.eeaae8","c4551a12.5ffb18","e4532cb1.5179","beebf806.2d3748","63dc6153.a8ea7"]]},{"id":"9fa2ea72.be19e8","type":"function","z":"e08e01ea.466ab","name":"Voltage","func":"msg.payload = parseInt(msg.payload.Voltage);\nreturn msg;","outputs":1,"noerr":0,"x":725,"y":1242,"wires":[["f412b3c5.682fc","31137536.ce05da"]]},{"id":"f29276a4.4c5bc8","type":"ui_gauge","z":"e08e01ea.466ab","name":"","group":"b9a00ba.424a9f8","order":0,"width":0,"height":0,"gtype":"gage","title":"Current","label":"mA","format":"{{value}}","min":"0","max":"33000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1025,"y":1282,"wires":[]},{"id":"7f7cd3ea.cad6cc","type":"function","z":"e08e01ea.466ab","name":"Current","func":"msg.payload = parseInt(msg.payload.Current);\nreturn msg;","outputs":1,"noerr":0,"x":725,"y":1282,"wires":[["f29276a4.4c5bc8","31137536.ce05da"]]},{"id":"44026a95.e62ca4","type":"ui_gauge","z":"e08e01ea.466ab","name":"","group":"9bd513c5.29a3b","order":0,"width":0,"height":0,"gtype":"gage","title":"Battery Temperature","label":"C","format":"{{value}}","min":"1","max":"50","colors":["#ca3838","#00b500","#ca3838"],"seg1":"15","seg2":"25","x":985,"y":1382,"wires":[]},{"id":"5adf41b8.5e4a7","type":"function","z":"e08e01ea.466ab","name":"Battery Temperature","func":"msg.payload = parseInt(msg.payload.BatteryTemperature);\nreturn msg;","outputs":1,"noerr":0,"x":705,"y":1382,"wires":[["44026a95.e62ca4","8575ee26.900d8"]]},{"id":"3273ce4c.9635a2","type":"ui_gauge","z":"e08e01ea.466ab","name":"","group":"9bd513c5.29a3b","order":0,"width":0,"height":0,"gtype":"gage","title":"Battery Charge","label":"mA","format":"{{value}}","min":"0","max":"50000","colors":["#ca3838","#e6e600","#00b500"],"seg1":"","seg2":"","x":1005,"y":1422,"wires":[]},{"id":"3e3c6bc0.99b384","type":"function","z":"e08e01ea.466ab","name":"Battery Charge","func":"msg.payload = parseInt(msg.payload.BatteryCharge);\nreturn msg;","outputs":1,"noerr":0,"x":725,"y":1422,"wires":[["3273ce4c.9635a2","8575ee26.900d8"]]},{"id":"3019dfb4.112a9","type":"ui_gauge","z":"e08e01ea.466ab","name":"","group":"9bd513c5.29a3b","order":0,"width":0,"height":0,"gtype":"gage","title":"Battery Capacity","label":"mA","format":"{{value}}","min":"0","max":"25000","colors":["#ca3838","#e6e600","#00b500"],"seg1":"","seg2":"","x":995,"y":1462,"wires":[]},{"id":"d9f6b931.eecf78","type":"function","z":"e08e01ea.466ab","name":"Battery Capacity","func":"msg.payload = parseInt(msg.payload.BatteryCapacity);\nreturn msg;","outputs":1,"noerr":0,"x":715,"y":1462,"wires":[["3019dfb4.112a9"]]},{"id":"ac29f204.ae8f1","type":"ui_gauge","z":"e08e01ea.466ab","name":"","group":"290f0e36.b33bc2","order":0,"width":0,"height":0,"gtype":"gage","title":"Right Velocity","label":"mm/s","format":"{{value}}","min":"-500","max":"+500","colors":["#ca3838","#32cd32","#ca3838"],"seg1":"","seg2":"","x":1005,"y":1562,"wires":[]},{"id":"375aabbf.8ae604","type":"function","z":"e08e01ea.466ab","name":"Right Velocity","func":"msg.payload = parseInt(msg.payload.RightVelocity);\nreturn msg;","outputs":1,"noerr":0,"x":705,"y":1562,"wires":[["ac29f204.ae8f1"]]},{"id":"267e6316.35326c","type":"ui_gauge","z":"e08e01ea.466ab","name":"","group":"290f0e36.b33bc2","order":0,"width":0,"height":0,"gtype":"gage","title":"Left Velocity","label":"mm/s","format":"{{value}}","min":"-500","max":"500","colors":["#ca3838","#32cd32","#ca3838"],"seg1":"","seg2":"","x":1015,"y":1602,"wires":[]},{"id":"da692cb8.5218e","type":"function","z":"e08e01ea.466ab","name":"Left Velocity","func":"msg.payload = parseInt(msg.payload.LeftVelocity);\nreturn msg;","outputs":1,"noerr":0,"x":715,"y":1602,"wires":[["267e6316.35326c"]]},{"id":"f97ffa7e.722fa8","type":"ui_template","z":"e08e01ea.466ab","group":"b8bc7838.4dc098","name":"Joystick","order":2,"width":"6","height":"6","format":"<!DOCTYPE html>\n\n<style>\n    /* CSS RESET */\n\n    html, body, div, span, applet, object, iframe,\n    h1, h2, h3, h4, h5, h6, p, blockquote, pre,\n    a, abbr, acronym, address, big, cite, code,\n    del, dfn, em, img, ins, kbd, q, s, samp,\n    small, strike, strong, sub, sup, tt, var,\n    b, u, i, center,\n    dl, dt, dd, ol, ul, li,\n    fieldset, form, label, legend,\n    table, caption, tbody, tfoot, thead, tr, th, td,\n    article, aside, canvas, details, embed,\n    figure, figcaption, footer, header, hgroup,\n    menu, nav, output, ruby, section, summary,\n    time, mark, audio, video {\n        margin: 0;\n        padding: 0;\n        border: 0;\n        font-size: 100%;\n        font: inherit;\n        vertical-align: baseline;\n    }\n\n    article, aside, details, figcaption, figure,\n    footer, header, hgroup, menu, nav, section {\n        display: block;\n    }\n\n    body {\n        line-height: 1;\n    }\n\n    ol, ul {\n        list-style: none;\n    }\n\n    blockquote, q {\n        quotes: none;\n    }\n\n    blockquote:before, blockquote:after,\n    q:before, q:after {\n        content: '';\n        content: none;\n    }\n\n    table {\n        border-collapse: collapse;\n        border-spacing: 0;\n    }\n\n    /* CONTAINERS */\n\n    .container {\n        max-width: 430px;\n        margin: 50px auto 0 auto;\n    }\n\n    .f-container {\n        margin: 0 15px;\n    }\n\n    /* FORM DEMO */\n\n    .f-dashes {\n        width: 100%;\n        height: 12px;\n        position: relative;\n        border: 4px dashed #ff0000;\n        border-left: none;\n        border-right: none;\n    }\n\n    .f-dashes:before {\n        top: 4px;\n        left: 0;\n        right: 0;\n        content: '';\n        display: block;\n        position: absolute;\n        border-bottom: 4px dashed #ff0000;\n    }\n\n    .f-dashes.f-active,\n    .f-dashes.f-active:before,\n    .f-dashes.f-active:after {\n        border-color: #32cd32;\n    }\n\n    .f-circle {\n        width: 75%;\n        padding-bottom: 75%;\n        background-color: #000;\n        position: relative;\n        margin: 15px auto;\n        border-radius: 50%;\n    }\n\n    .f-top-left-quarter,\n    .f-top-right-quarter {\n        top: 0;\n        left: 0;\n        right: 0;\n        bottom: 0;\n        border-radius: 50%;\n        position: absolute;\n        transform: rotate(45deg);\n        border: 5px solid transparent;\n    }\n\n    .f-top-left-quarter {\n        border-left-color: #ff0000;\n    }\n\n    .f-top-left-quarter.f-active {\n        border-left-color: #32cd32;\n    }\n\n    .f-top-right-quarter {\n        border-top-color: #ff0000;\n    }\n\n    .f-top-right-quarter.f-active {\n        border-top-color: #32cd32;\n    }\n\n    .f-top-left-square {\n        top: 10%;\n        left: 30%;\n        right: 63%;\n        bottom: 87%;\n        position: absolute;\n        background-color: #ff0000;\n    }\n\n    .f-top-left-square.f-active {\n        background-color: #32cd32;\n    }\n\n    .f-top-right-square {\n        top: 10%;\n        left: 63%;\n        right: 30%;\n        bottom: 87%;\n        position: absolute;\n        background-color: #ff0000;\n    }\n\n    .f-top-right-square.f-active {\n        background-color: #32cd32;\n    }\n\n    .f-middle-left-square {\n        top: 25%;\n        left: 14%;\n        right: 79%;\n        bottom: 72%;\n        position: absolute;\n        background-color: #ff0000;\n    }\n\n    .f-middle-left-square.f-active {\n        background-color: #32cd32;\n    }\n\n    .f-middle-right-square {\n        top: 25%;\n        left: 79%;\n        right: 14%;\n        bottom: 72%;\n        position: absolute;\n        background-color: #ff0000;\n    }\n\n    .f-middle-right-square.f-active {\n        background-color: #32cd32;\n    }\n\n    .f-bottom-left-square {\n        top: 37%;\n        left: 11%;\n        right: 77%;\n        bottom: 38%;\n        position: absolute;\n        background-color: #808080;\n        border: 5px solid #ff0000;\n    }\n\n    .f-bottom-left-square.f-active {\n        border-color: #32cd32;\n    }\n\n    .f-bottom-right-square {\n        top: 37%;\n        left: 77%;\n        right: 11%;\n        bottom: 38%;\n        position: absolute;\n        background-color: #808080;\n        border: 5px solid #ff0000;\n    }\n\n    .f-bottom-right-square.f-active {\n        border-color: #32cd32;\n    }\n\n    /* JOYSTICK */\n\n    .f-joystick {\n        width: 109px;\n        height: 109px;\n        margin: 0 auto;\n        position: relative;\n    }\n\n    .f-joystick-up {\n        top: 0;\n        left: 30px;\n        width: 0;\n        height: 0;\n        position: absolute;\n        border-style: solid;\n        border-width: 0 25px 25px 25px;\n        border-color: transparent transparent #000 transparent;\n    }\n\n    .f-joystick-left {\n        top: 30px;\n        left: 0;\n        width: 0;\n        height: 0;\n        position: absolute;\n        border-style: solid;\n        border-width: 25px 25px 25px 0;\n        border-color: transparent #000 transparent transparent;\n    }\n\n    .f-joystick-right {\n        top: 30px;\n        right: 0;\n        width: 0;\n        height: 0;\n        position: absolute;\n        border-style: solid;\n        border-width: 25px 0 25px 25px;\n        border-color: transparent transparent transparent #000;\n    }\n\n    .f-joystick-down {\n        bottom: 0;\n        left: 30px;\n        width: 0;\n        height: 0;\n        position: absolute;\n        border-style: solid;\n        border-width: 25px 25px 0 25px;\n        border-color: #000 transparent transparent transparent;\n    }\n\n</style>\n\n<script>\n\n\n    (function (scope) {\n        \n        \n           \n            $(\".f-joystick-up\").on(\"mousedown\", function () {\n                SendData(\"up_down\");\n            });\n            $(\".f-joystick-up\").on(\"mouseup\", function () {\n                SendData(\"up_up\");\n            });\n\n            $(\".f-joystick-down\").on(\"mousedown\", function () {\n                SendData(\"down_down\");\n            });\n            $(\".f-joystick-down\").on(\"mouseup\", function () {\n                SendData(\"down_up\");\n            });\n\n            $(\".f-joystick-left\").on(\"mousedown\", function () {\n                SendData(\"left_down\");\n            });\n            $(\".f-joystick-left\").on(\"mouseup\", function () {\n                SendData(\"left_up\");\n            });\n\n            $(\".f-joystick-right\").on(\"mousedown\", function () {\n                SendData(\"right_down\");\n            });\n            $(\".f-joystick-right\").on(\"mouseup\", function () {\n                SendData(\"right_up\");\n            });\n\n            function SendData(button) {\n\n                switch (button) {\n                    case \"up_down\":\n                        scope.send({payload: \"up_down\"});\n                        break;\n                        \n                    case \"up_up\":\n                        scope.send({payload: \"up_up\"});\n                        break;\n\n                    case \"down_down\":\n                        scope.send({payload: \"down_down\"});\n                        break;\n\n                    case \"down_up\":\n                        scope.send({payload: \"down_up\"});\n                        break;\n\n                    case \"left_down\":\n                        scope.send({payload: \"left_down\"});\n                        break;\n                    \n                    case \"left_up\":\n                        scope.send({payload: \"left_up\"});\n                        break;\n                    \n                    case \"right_down\":\n                        scope.send({payload: \"right_down\"});\n                        break;\n                        \n                    case \"right_up\":\n                        scope.send({payload: \"right_up\"});\n                        break;\n                        \n                    default:\n\n                        break;\n                }\n            }\n       \n\n    })(scope);\n\n\n</script>\n\n\n<md-card>\n    <div class=\"f-joystick\">\n        <a href=\"#\" class=\"f-joystick-up\"></a>\n        <a href=\"#\" class=\"f-joystick-down\"></a>\n        <a href=\"#\" class=\"f-joystick-left\"></a>\n        <a href=\"#\" class=\"f-joystick-right\"></a>\n    </div>\n</md-card>\n<!--<div ng-bind-html=\"msg.payload\"></div>-->","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":65,"y":2082,"wires":[["40dfa3be.5e686c","8cdd8e86.a50ee","4b733da0.1c0db4"]]},{"id":"40dfa3be.5e686c","type":"debug","z":"e08e01ea.466ab","name":"","active":true,"console":"false","complete":"payload","x":575,"y":2140,"wires":[]},{"id":"31137536.ce05da","type":"ui_chart","z":"e08e01ea.466ab","name":"","group":"b9a00ba.424a9f8","order":0,"width":0,"height":0,"label":"Power History","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"120","removeOlderPoints":"120","removeOlderUnit":"1","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1005,"y":1322,"wires":[[],[]]},{"id":"8575ee26.900d8","type":"ui_chart","z":"e08e01ea.466ab","name":"","group":"9bd513c5.29a3b","order":0,"width":0,"height":0,"label":"Battery History","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"120","removeOlderPoints":"120","removeOlderUnit":"1","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1005,"y":1502,"wires":[[],[]]},{"id":"ca80bd1a.6cffb","type":"ui_gauge","z":"e08e01ea.466ab","name":"Robot Orientation","group":"b8bc7838.4dc098","order":4,"width":0,"height":0,"gtype":"compass","title":"Orientation","label":"DEG","format":"{{value}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":995,"y":1202,"wires":[]},{"id":"7c3c566f.eeaae8","type":"function","z":"e08e01ea.466ab","name":"Angle","func":"msg.payload = parseInt(msg.payload.Angle);\nreturn msg;","outputs":1,"noerr":0,"x":735,"y":1202,"wires":[["ca80bd1a.6cffb"]]},{"id":"b7d1b1f9.bb75f","type":"ui_gauge","z":"e08e01ea.466ab","name":"","group":"290f0e36.b33bc2","order":0,"width":0,"height":0,"gtype":"gage","title":"Velocity","label":"mm/s","format":"{{value}}","min":"-500","max":"500","colors":["#ca3838","#32cd32","#ca3838"],"seg1":"","seg2":"","x":1025,"y":1642,"wires":[]},{"id":"c4551a12.5ffb18","type":"function","z":"e08e01ea.466ab","name":"Velocity","func":"msg.payload = parseInt(msg.payload.Velocity);\nreturn msg;","outputs":1,"noerr":0,"x":725,"y":1642,"wires":[["b7d1b1f9.bb75f","2fa8d646.1bc9fa"]]},{"id":"eca0fec.a68de","type":"ui_button","z":"e08e01ea.466ab","name":"","group":"b8bc7838.4dc098","order":3,"width":0,"height":0,"passthru":false,"label":"Stop","color":"","bgcolor":"","icon":"","payload":"Stoped","payloadType":"str","topic":"","x":55,"y":2122,"wires":[["40dfa3be.5e686c","8cdd8e86.a50ee"]]},{"id":"6708ca11.7b84a4","type":"ui_toast","z":"e08e01ea.466ab","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":995,"y":1742,"wires":[]},{"id":"63dc6153.a8ea7","type":"function","z":"e08e01ea.466ab","name":"Bat. Temp. Alarm","func":"// Global context data.\nvar globalContext = this.context.global;\n\n// Temperature data.\nvar temperature = parseInt(msg.payload.BatteryTemperature);\n\n// Dump message.\nvar dumpMsg = msg;\n\n// Get context data.\nvar tmpTemperature = globalContext.get('BatteryTemperatureAlarm1')||0;\n\n// Check for difernce.\nif(temperature != tmpTemperature)\n{\n    // Set changes to the sesion context data.\n    globalContext.set('BatteryTemperatureAlarm1', temperature);\n    \n    // If the data is greate then 20 deg bad.\n    if(temperature > 20)\n    {\n        dumpMsg.payload = 'Battery temperature critical: ' + temperature + 'C';\n        return dumpMsg;\n    }\n}\n\n","outputs":1,"noerr":0,"x":695,"y":1822,"wires":[["6708ca11.7b84a4"]]},{"id":"4cee16dd.0a2308","type":"mqtt out","z":"e08e01ea.466ab","name":"","topic":"pt/str/i/robot/2","qos":"0","retain":"","broker":"9341af7f.f445c","x":585,"y":2262,"wires":[]},{"id":"a8f34887.bdf908","type":"inject","z":"e08e01ea.466ab","name":"","topic":"","payload":"clean","payloadType":"str","repeat":"","crontab":"","once":false,"x":95,"y":2302,"wires":[["bef93027.5aeb3"]]},{"id":"4cd691e3.ec582","type":"inject","z":"e08e01ea.466ab","name":"","topic":"","payload":"dock","payloadType":"str","repeat":"","crontab":"","once":false,"x":95,"y":2262,"wires":[["d0710bf8.eb8c28"]]},{"id":"8e4857ed.30b868","type":"comment","z":"e08e01ea.466ab","name":"Karel V1","info":"","x":65,"y":2462,"wires":[]},{"id":"7cb8c17d.4a1e5","type":"function","z":"e08e01ea.466ab","name":"Command parser","func":"\nvar response_sign = \"#\";\nvar termin_sign = \"\\r\\n\";\nvar cmd_position = \"POSITION\";\nvar cmd_greatings = \"GREATINGS\";\n\nvar payload = msg.payload;\n\nif(payload.startsWith(response_sign) && payload.endsWith(termin_sign))\n{\n    // Trim data.\n    payload = payload.replace(response_sign, \"\");\n    payload = payload.replace(termin_sign, \"\");\n\n    // Position\n    if(payload.includes(cmd_position))\n    {\n        // Trim data.\n        payload = payload.replace(cmd_position, \"\");\n        \n        // Split data.\n        var tokens = payload.split(/[\\s;\\s:]+/);\n        \n        if(tokens[1] == \"T\" && tokens[3] == \"R\" && tokens[5] == \"L\" && tokens[7] == \"R\")\n        {\n            // Create robot position.\n            var position = \n            {\n                Distance    : parseInt(tokens[2]),\n                Phase       : parseInt(tokens[4]),\n                FrontSensor : parseInt(tokens[6]),\n                BackSensor  : parseInt(tokens[8])\n            };\n            \n            // Replace temporal payload.\n            payload = position;\n        }\n    }\n    \n    // Greatings\n    if(payload.includes(cmd_greatings))\n    {\n        // Trim data.\n        payload = payload.replace(cmd_greatings, \"\");\n        \n        // Split data.\n        var tokens = payload.split(/[\\s;\\s:]+/);\n        \n        // Validate\n        if(tokens[1] !== \"\")\n        {\n            // Create robot position.\n            // Load object.\n            var greatings =\n            {\n                Message : tokens[1]\n            };\n            \n            // Replace temporal payload.\n            payload = greatings;\n        }\n    }\n}\n\n// Replace payload.\nmsg.payload = payload;\n\n// Return mesage.\nreturn msg;","outputs":1,"noerr":0,"x":335,"y":2502,"wires":[["35a46ed7.42a582"]]},{"id":"db77d819.ff3ba8","type":"mqtt in","z":"e08e01ea.466ab","name":"Robot Output Topic","topic":"pt/str/o/robot/1","qos":"0","broker":"9341af7f.f445c","x":95,"y":2502,"wires":[["7cb8c17d.4a1e5"]]},{"id":"35a46ed7.42a582","type":"debug","z":"e08e01ea.466ab","name":"","active":false,"console":"false","complete":"false","x":575,"y":2502,"wires":[]},{"id":"69be5ae.b8f71a4","type":"comment","z":"e08e01ea.466ab","name":"iRobot Roomba 550","info":"","x":115,"y":1042,"wires":[]},{"id":"8cdd8e86.a50ee","type":"ui_toast","z":"e08e01ea.466ab","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":591,"y":2012,"wires":[]},{"id":"d10c5bac.da7aa8","type":"mqtt in","z":"e08e01ea.466ab","name":"Image Data","topic":"pt/img/o/robot/2","qos":"2","broker":"9341af7f.f445c","x":75,"y":1942,"wires":[["5cf732cb.74314c"]]},{"id":"5cf732cb.74314c","type":"base64","z":"e08e01ea.466ab","name":"","x":725,"y":1942,"wires":[["6d6fb4cf.20daec"]]},{"id":"6d6fb4cf.20daec","type":"ui_template","z":"e08e01ea.466ab","group":"e402fea3.d2923","name":"Camera","order":0,"width":"6","height":"6","format":"<md-card md-theme=\"{{ showDarkTheme ? 'dark-grey' : 'default' }}\" md-theme-watch>\n    <img id='base64image' src='data:image/jpeg;base64, {{msg.payload}}' />\n</md-card>\n\n<!--<div ng-bind-html=\"msg.payload\"></div>-->","storeOutMessages":true,"fwdInMessages":true,"x":1025,"y":1942,"wires":[[]]},{"id":"90f908f9.950db8","type":"comment","z":"e08e01ea.466ab","name":"Metrics data from the robot.","info":"","x":145,"y":1102,"wires":[]},{"id":"96baccd8.73d33","type":"comment","z":"e08e01ea.466ab","name":"Visual data from the robot.","info":"","x":115,"y":1902,"wires":[]},{"id":"627cbfc7.8d3e3","type":"comment","z":"e08e01ea.466ab","name":"Input data to the robot.","info":"","x":105,"y":2042,"wires":[]},{"id":"d0710bf8.eb8c28","type":"function","z":"e08e01ea.466ab","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":295,"y":2262,"wires":[["4cee16dd.0a2308"]]},{"id":"bef93027.5aeb3","type":"function","z":"e08e01ea.466ab","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":295,"y":2302,"wires":[["4cee16dd.0a2308"]]},{"id":"2fa8d646.1bc9fa","type":"ui_chart","z":"e08e01ea.466ab","name":"","group":"290f0e36.b33bc2","order":0,"width":0,"height":0,"label":"Velocity History","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"120","removeOlderPoints":"120","removeOlderUnit":"1","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1005,"y":1682,"wires":[[],[]]},{"id":"e4532cb1.5179","type":"function","z":"e08e01ea.466ab","name":"Wall Sensor Alarm","func":"// Wall data.\nvar wall = parseInt(msg.payload.Wall);\n\n// Dump message.\nvar dumpMsg = msg;\n\n// Check for difernce.\nif(wall > 0)\n{\n    dumpMsg.payload = 'Wall Sensor Alarm: ' + wall;\n    return dumpMsg;\n}","outputs":1,"noerr":0,"x":695,"y":1782,"wires":[["6708ca11.7b84a4"]]},{"id":"beebf806.2d3748","type":"function","z":"e08e01ea.466ab","name":"Left Bumper Sensor Alarm","func":"function bit_check(num, bit)\n{\n    return ((num >> bit) % 2 !== 0)\n}\n    \nfunction bit_set(num, bit)\n{\n    return num | 1<<bit;\n}\n    \nfunction bit_clear(num, bit)\n{\n    return num & ~(1<<bit);\n}\n    \nfunction bit_toggle(num, bit)\n{\n    return bit_check(num, bit) ? bit_clear(num, bit) : bit_set(num, bit);\n}\n\n// Left bumper data.\nvar leftBumper = parseInt(bit_check(msg.payload.BumpersAndWheelDrops, 0));\n\n// Dump message.\nvar dumpMsg = msg;\n\n// Check for difernce.\nif(leftBumper)\n{\n    dumpMsg.payload = 'Left bumper: ' + leftBumper;\n    return dumpMsg;\n}","outputs":1,"noerr":0,"x":665,"y":1742,"wires":[["6708ca11.7b84a4"]]},{"id":"88fc2199.71055","type":"delay","z":"e08e01ea.466ab","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":265,"y":1542,"wires":[["25df9659.5f4f3a"]]},{"id":"11410149.d111df","type":"inject","z":"e08e01ea.466ab","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":85,"y":1422,"wires":[["25df9659.5f4f3a"]]},{"id":"87a765f1.688e28","type":"debug","z":"e08e01ea.466ab","name":"","active":true,"console":"false","complete":"false","x":315,"y":1702,"wires":[]},{"id":"25df9659.5f4f3a","type":"trigger","z":"e08e01ea.466ab","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"2000","extend":false,"units":"ms","reset":"","name":"","x":285,"y":1482,"wires":[["87a765f1.688e28","88fc2199.71055"]]},{"id":"5495f975.6e0228","type":"switch","z":"e08e01ea.466ab","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":""}],"checkall":"true","outputs":1,"x":255,"y":1362,"wires":[[]]},{"id":"4b733da0.1c0db4","type":"mqtt out","z":"e08e01ea.466ab","name":"","topic":"pt/str/i/robot/2","qos":"2","retain":"","broker":"97452996.d053b8","x":579,"y":2069,"wires":[]},{"id":"b8bc7838.4dc098","type":"ui_group","z":"","name":"SCADA","tab":"39648901.32e086","order":1,"disp":true,"width":"6"},{"id":"b9a00ba.424a9f8","type":"ui_group","z":"","name":"Power","tab":"39648901.32e086","order":3,"disp":true,"width":"6"},{"id":"9341af7f.f445c","type":"mqtt-broker","z":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"9bd513c5.29a3b","type":"ui_group","z":"","name":"Battery","tab":"39648901.32e086","order":4,"disp":true,"width":"6"},{"id":"290f0e36.b33bc2","type":"ui_group","z":"","name":"Motion","tab":"39648901.32e086","order":2,"disp":true,"width":"6"},{"id":"e402fea3.d2923","type":"ui_group","z":"","name":"Camera","tab":"39648901.32e086","order":5,"disp":true,"width":"6"},{"id":"97452996.d053b8","type":"mqtt-broker","z":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"39648901.32e086","type":"ui_tab","z":"","name":"iRobot","icon":"dashboard","order":4}]