NodeRedApps/iRobot.json
[{"id":"4d95e68b.1c08f","type":"ui_template","z":"4249a1f9.0723a8","group":"700560ee.a50de8","name":"Sensors","order":1,"width":"6","height":"6","format":"\n<!DOCTYPE html>\n\n<style>\n/* CSS RESET */\n\nhtml, body, div, span, applet, object, iframe,\nh1, h2, h3, h4, h5, h6, p, blockquote, pre,\na, abbr, acronym, address, big, cite, code,\ndel, dfn, em, img, ins, kbd, q, s, samp,\nsmall, strike, strong, sub, sup, tt, var,\nb, u, i, center,\ndl, dt, dd, ol, ul, li,\nfieldset, form, label, legend,\ntable, caption, tbody, tfoot, thead, tr, th, td,\narticle, aside, canvas, details, embed, \nfigure, figcaption, footer, header, hgroup, \nmenu, nav, output, ruby, section, summary,\ntime, mark, audio, video\n\n{\n\tmargin: 0;\n\tpadding: 0;\n\tborder: 0;\n\tfont-size: 100%;\n\tfont: inherit;\n\tvertical-align: baseline;\n}\n\narticle, aside, details, figcaption, figure, \nfooter, header, hgroup, menu, nav, section\n{\n\tdisplay: block;\n}\n\nbody\n{\n\tline-height: 1;\n}\n\nol, ul\n{\n\tlist-style: none;\n}\n\nblockquote, q\n{\n\tquotes: none;\n}\n\nblockquote:before, blockquote:after,\nq:before, q:after\n{\n\tcontent: '';\n\tcontent: none;\n}\n\ntable\n{\n\tborder-collapse: collapse;\n\tborder-spacing: 0;\n}\n\n/* CONTAINERS */\n\n.container\n{\n\tmax-width:430px;\n\tmargin:50px auto 0 auto;\n}\n\n.f-container\n{\n\tmargin:0 15px;\n}\n\n/* FORM DEMO */\n\n.f-wall\n{\n\twidth:100%;\n\theight:12px;\n\tposition:relative;\n\tborder:4px dashed #ff0000;\n\tborder-left:none;\n\tborder-right:none;\n}\n\n.f-wall:before\n{\n\ttop:4px;\n\tleft:0;\n\tright:0;\n\tcontent:'';\n\tdisplay:block;\n\tposition:absolute;\n\tborder-bottom:4px dashed #ff0000;\n}\n\n.f-wall.f-active,\n.f-wall.f-active:before,\n.f-wall.f-active:after\n{\n\tborder-color:#32cd32;\n}\n\n.f-circle\n{\n\twidth:75%;\n\tpadding-bottom:75%;\n\tbackground-color:#000;\n\tposition:relative;\n\tmargin:15px auto;\n\tborder-radius:50%;\n}\n\n.f-left-bumper,\n.f-right-bumper\n{\n\ttop:0;\n\tleft:0;\n\tright:0;\n\tbottom:0;\n\tborder-radius:50%;\n\tposition:absolute;\n\ttransform:rotate(45deg);\n\tborder:5px solid transparent;\n}\n\n.f-left-bumper\n{\n\tborder-left-color:#ff0000;\n}\n\n.f-left-bumper.f-active\n{\n\tborder-left-color:#32cd32;\n}\n\n.f-right-bumper\n{\n\tborder-top-color:#ff0000;\n}\n\n.f-right-bumper.f-active\n{\n\tborder-top-color:#32cd32;\n}\n\n.f-cliff-front-left\n{\n\ttop:10%;\n\tleft:30%;\n\tright:63%;\n\tbottom:87%;\n\tposition:absolute;\n\tbackground-color:#ff0000;\n}\n\n.f-cliff-front-left.f-active\n{\n\tbackground-color:#32cd32;\n}\n\n.f-cliff-front-right\n{\n\ttop:10%;\n\tleft:63%;\n\tright:30%;\n\tbottom:87%;\n\tposition:absolute;\n\tbackground-color:#ff0000;\n}\n\n.f-cliff-front-right.f-active\n{\n\tbackground-color:#32cd32;\n}\n\n.f-cliff-left\n{\n\ttop:25%;\n\tleft:14%;\n\tright:79%;\n\tbottom:72%;\n\tposition:absolute;\n\tbackground-color:#ff0000;\n}\n\n.f-cliff-left.f-active\n{\n\tbackground-color:#32cd32;\n}\n\n.f-cliff-right\n{\n\ttop:25%;\n\tleft:79%;\n\tright:14%;\n\tbottom:72%;\n\tposition:absolute;\n\tbackground-color:#ff0000;\n}\n\n.f-cliff-right.f-active\n{\n\tbackground-color:#32cd32;\n}\n\n.f-left-wheel\n{\n\ttop:37%;\n\tleft:11%;\n\tright:77%;\n\tbottom:38%;\n\tposition:absolute;\n\tbackground-color:#808080;\n\tborder:5px solid #ff0000;\n}\n\n.f-left-wheel.f-active\n{\n\tborder-color:#32cd32;\n}\n\n.f-right-wheel\n{\n\ttop:37%;\n\tleft:77%;\n\tright:11%;\n\tbottom:38%;\n\tposition:absolute;\n\tbackground-color:#808080;\n\tborder:5px solid #ff0000;\n}\n\n.f-right-wheel.f-active\n{\n\tborder-color:#32cd32;\n}\n\n</style>\n\n<script>\n\n(function(scope)\n{\n    \n    function bit_check(num, bit)\n    {\n        return ((num>>bit) % 2 != 0)\n    }\n    \n    function bit_set(num, bit)\n    {\n        return num | 1<<bit;\n    }\n    \n    function bit_clear(num, bit)\n    {\n        return num & ~(1<<bit);\n    }\n    \n    function bit_toggle(num, bit)\n    {\n        return bit_check(num, bit) ? bit_clear(num, bit) : bit_set(num, bit);\n    }\n\n    // Check for message.\n    var timer = setInterval(function()\n    {\n        // Clear the timer.\n        clearInterval(timer);\n        \n        // Watch for an incoming NR msg\n        scope.$watch('msg', function (msg)\n        {\n            // Validate message\n            if (msg)\n            {\n                // Wall sensor\n                if(msg.payload.Wall == 1)\n                {\n                    //simple deactivation\n                    $('.f-wall').removeClass('f-active');\n                }\n                else\n                {\n                    //simple activation\n                    $('.f-wall').addClass('f-active');\n                }\n                \n                // Cliff left\n                if(msg.payload.CliffLeft == 1)\n                {\n                    //simple deactivation\n                    $('.f-cliff-left').removeClass('f-active');\n                }\n                else\n                {\n                    //simple activation\n                    $('.f-cliff-left').addClass('f-active');\n                }\n                \n                // Cliff Front Left\n                if(msg.payload.CliffFrontLeft == 1)\n                {\n                    //simple deactivation\n                    $('.f-cliff-front-left').removeClass('f-active');\n                }\n                else\n                {\n                    //simple activation\n                    $('.f-cliff-front-left').addClass('f-active');\n                }\n                \n                // Cliff Front Right\n                if(msg.payload.CliffFrontRight == 1)\n                {\n                    //simple deactivation\n                    $('.f-cliff-front-right').removeClass('f-active');\n                }\n                else\n                {\n                    //simple activation\n                    $('.f-cliff-front-right').addClass('f-active');\n                }\n                \n                // Cliff Right\n                if(msg.payload.CliffRight == 1)\n                {\n                    //simple deactivation\n                    $('.f-cliff-right').removeClass('f-active');\n                }\n                else\n                {\n                    //simple activation\n                    $('.f-cliff-right').addClass('f-active');\n                }\n                \n                // Right bumper\n                if(bit_check(msg.payload.BumpersAndWheelDrops, 0))\n                {\n                    //simple deactivation\n                    $('.f-right-bumper').removeClass('f-active');\n                }\n                else\n                {\n                    //simple activation\n                    $('.f-right-bumper').addClass('f-active');\n                }\n                \n                // Left bumper\n                if(bit_check(msg.payload.BumpersAndWheelDrops, 1))\n                {\n                    //simple deactivation\n                    $('.f-left-bumper').removeClass('f-active');\n                }\n                else\n                {\n                    //simple activation\n                    $('.f-left-bumper').addClass('f-active');\n                }\n                \n                // \n                if(bit_check(msg.payload.BumpersAndWheelDrops, 2))\n                {\n                    //simple deactivation\n                    $('.f-right-wheel').removeClass('f-active');\n                }\n                else\n                {\n                    //simple activation\n                    $('.f-right-wheel').addClass('f-active');\n                }\n                \n                // \n                if(bit_check(msg.payload.BumpersAndWheelDrops, 3))\n                {\n                    //simple deactivation\n                    $('.f-left-wheel').removeClass('f-active');\n                }\n                else\n                {\n                    //simple activation\n                    $('.f-left-wheel').addClass('f-active');\n                }\n            }\n        }); //close out the watch \n    }, 50); // close out the setInterval \n})(scope);\n\t\n</script>\n\n<md-card>\n\t<div class=\"f-container\">\n\t\t<div class=\"f-wall f-active\"></div>\n\t\t<div class=\"f-circle\">\n\t\t\t<div class=\"f-left-bumper f-active\"></div>\n\t\t\t<div class=\"f-right-bumper f-active\"></div>\n\t\t\t<div class=\"f-cliff-front-left f-active\"></div>\n\t\t\t<div class=\"f-cliff-front-right f-active\"></div>\n\t\t\t<div class=\"f-cliff-left f-active\"></div>\n\t\t\t<div class=\"f-cliff-right f-active\"></div>\n\t\t\t<div class=\"f-left-wheel f-active\"></div>\n\t\t\t<div class=\"f-right-wheel f-active\"></div>\n\t\t</div>\n\t</div>\n</md-card>\n\n<!--<div ng-bind-html=\"msg.payload\"></div>-->","storeOutMessages":true,"fwdInMessages":true,"x":1040,"y":140,"wires":[[]]},{"id":"70de514d.9dae18","type":"ui_gauge","z":"4249a1f9.0723a8","name":"","group":"90d44fd5.6c5358","order":0,"width":0,"height":0,"gtype":"gage","title":"Voltage","label":"mV","format":"{{value}}","min":0,"max":"35000","colors":["#ca3838","#e6e600","#00b500"],"seg1":"","seg2":"","x":1040,"y":240,"wires":[]},{"id":"bcbdca2a.fac518","type":"mqtt in","z":"4249a1f9.0723a8","name":"iRobot output topic","topic":"pt/str/o/robot/2","qos":"2","broker":"6d806c53.ec67b4","x":130,"y":140,"wires":[["785bcdc1.d86d9c"]]},{"id":"785bcdc1.d86d9c","type":"function","z":"4249a1f9.0723a8","name":"To JS object","func":"msg.payload = JSON.parse(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":140,"wires":[["4d95e68b.1c08f","c566a5cf.9935f","d089eb4f.e8099","98318a67.5dc718","441bae3f.52ed2","47e300b9.1e0658","268bee5.51f2192","3583183f.8d7a7","fe2033fe.6b5a3","7cbaf3ca.738a34","3bc00a1d.5738ee","88930a09.a59e","48f78e1.a5248f"]]},{"id":"c566a5cf.9935f","type":"function","z":"4249a1f9.0723a8","name":"Voltage","func":"msg.payload = parseInt(msg.payload.Voltage);\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":240,"wires":[["70de514d.9dae18","ae05c19c.30fae8"]]},{"id":"3dff0119.b7274e","type":"ui_gauge","z":"4249a1f9.0723a8","name":"","group":"90d44fd5.6c5358","order":0,"width":0,"height":0,"gtype":"gage","title":"Current","label":"mA","format":"{{value}}","min":"0","max":"33000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1040,"y":280,"wires":[]},{"id":"d089eb4f.e8099","type":"function","z":"4249a1f9.0723a8","name":"Current","func":"msg.payload = parseInt(msg.payload.Current);\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":280,"wires":[["3dff0119.b7274e","ae05c19c.30fae8"]]},{"id":"b680dd59.f5f478","type":"ui_gauge","z":"4249a1f9.0723a8","name":"","group":"becfe476.a781","order":0,"width":0,"height":0,"gtype":"gage","title":"Battery Temperature","label":"C","format":"{{value}}","min":"1","max":"50","colors":["#ca3838","#00b500","#ca3838"],"seg1":"15","seg2":"25","x":1000,"y":380,"wires":[]},{"id":"98318a67.5dc718","type":"function","z":"4249a1f9.0723a8","name":"Battery Temperature","func":"msg.payload = parseInt(msg.payload.BatteryTemperature);\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":380,"wires":[["b680dd59.f5f478","686e671f.64018"]]},{"id":"f1b0b1b0.fd3e78","type":"ui_gauge","z":"4249a1f9.0723a8","name":"","group":"becfe476.a781","order":0,"width":0,"height":0,"gtype":"gage","title":"Battery Charge","label":"mA","format":"{{value}}","min":"0","max":"50000","colors":["#ca3838","#e6e600","#00b500"],"seg1":"","seg2":"","x":1020,"y":420,"wires":[]},{"id":"441bae3f.52ed2","type":"function","z":"4249a1f9.0723a8","name":"Battery Charge","func":"msg.payload = parseInt(msg.payload.BatteryCharge);\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":420,"wires":[["f1b0b1b0.fd3e78","686e671f.64018"]]},{"id":"6b7b492d.659128","type":"ui_gauge","z":"4249a1f9.0723a8","name":"","group":"becfe476.a781","order":0,"width":0,"height":0,"gtype":"gage","title":"Battery Capacity","label":"mA","format":"{{value}}","min":"0","max":"25000","colors":["#ca3838","#e6e600","#00b500"],"seg1":"","seg2":"","x":1010,"y":460,"wires":[]},{"id":"47e300b9.1e0658","type":"function","z":"4249a1f9.0723a8","name":"Battery Capacity","func":"msg.payload = parseInt(msg.payload.BatteryCapacity);\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":460,"wires":[["6b7b492d.659128"]]},{"id":"d0104393.9cb25","type":"ui_gauge","z":"4249a1f9.0723a8","name":"","group":"c8604998.94d16","order":0,"width":0,"height":0,"gtype":"gage","title":"Right Velocity","label":"mm/s","format":"{{value}}","min":"-500","max":"+500","colors":["#ca3838","#32cd32","#ca3838"],"seg1":"","seg2":"","x":1020,"y":560,"wires":[]},{"id":"268bee5.51f2192","type":"function","z":"4249a1f9.0723a8","name":"Right Velocity","func":"msg.payload = parseInt(msg.payload.RightVelocity);\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":560,"wires":[["d0104393.9cb25"]]},{"id":"671a29f4.ebcad","type":"ui_gauge","z":"4249a1f9.0723a8","name":"","group":"c8604998.94d16","order":0,"width":0,"height":0,"gtype":"gage","title":"Left Velocity","label":"mm/s","format":"{{value}}","min":"-500","max":"500","colors":["#ca3838","#32cd32","#ca3838"],"seg1":"","seg2":"","x":1030,"y":600,"wires":[]},{"id":"3583183f.8d7a7","type":"function","z":"4249a1f9.0723a8","name":"Left Velocity","func":"msg.payload = parseInt(msg.payload.LeftVelocity);\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":600,"wires":[["671a29f4.ebcad"]]},{"id":"bfa2bb85.99afb8","type":"ui_template","z":"4249a1f9.0723a8","group":"700560ee.a50de8","name":"Joystick","order":2,"width":"6","height":"6","format":"\n<!DOCTYPE html>\n\n<style>\n/* CSS RESET */\n\nhtml, body, div, span, applet, object, iframe,\nh1, h2, h3, h4, h5, h6, p, blockquote, pre,\na, abbr, acronym, address, big, cite, code,\ndel, dfn, em, img, ins, kbd, q, s, samp,\nsmall, strike, strong, sub, sup, tt, var,\nb, u, i, center,\ndl, dt, dd, ol, ul, li,\nfieldset, form, label, legend,\ntable, caption, tbody, tfoot, thead, tr, th, td,\narticle, aside, canvas, details, embed, \nfigure, figcaption, footer, header, hgroup, \nmenu, nav, output, ruby, section, summary,\ntime, mark, audio, video\n{\n\tmargin: 0;\n\tpadding: 0;\n\tborder: 0;\n\tfont-size: 100%;\n\tfont: inherit;\n\tvertical-align: baseline;\n}\n\narticle, aside, details, figcaption, figure, \nfooter, header, hgroup, menu, nav, section\n{\n\tdisplay: block;\n}\n\nbody\n{\n\tline-height: 1;\n}\n\nol, ul\n{\n\tlist-style: none;\n}\n\nblockquote, q\n{\n\tquotes: none;\n}\n\nblockquote:before, blockquote:after,\nq:before, q:after\n{\n\tcontent: '';\n\tcontent: none;\n}\n\ntable\n{\n\tborder-collapse: collapse;\n\tborder-spacing: 0;\n}\n\n/* CONTAINERS */\n\n.container\n{\n\tmax-width:430px;\n\tmargin:50px auto 0 auto;\n}\n\n.f-container\n{\n\tmargin:0 15px;\n}\n\n/* FORM DEMO */\n\n.f-dashes\n{\n\twidth:100%;\n\theight:12px;\n\tposition:relative;\n\tborder:4px dashed #ff0000;\n\tborder-left:none;\n\tborder-right:none;\n}\n\n.f-dashes:before\n{\n\ttop:4px;\n\tleft:0;\n\tright:0;\n\tcontent:'';\n\tdisplay:block;\n\tposition:absolute;\n\tborder-bottom:4px dashed #ff0000;\n}\n\n.f-dashes.f-active,\n.f-dashes.f-active:before,\n.f-dashes.f-active:after\n{\n\tborder-color:#32cd32;\n}\n\n.f-circle\n{\n\twidth:75%;\n\tpadding-bottom:75%;\n\tbackground-color:#000;\n\tposition:relative;\n\tmargin:15px auto;\n\tborder-radius:50%;\n}\n\n.f-top-left-quarter,\n.f-top-right-quarter\n{\n\ttop:0;\n\tleft:0;\n\tright:0;\n\tbottom:0;\n\tborder-radius:50%;\n\tposition:absolute;\n\ttransform:rotate(45deg);\n\tborder:5px solid transparent;\n}\n\n.f-top-left-quarter\n{\n\tborder-left-color:#ff0000;\n}\n\n.f-top-left-quarter.f-active\n{\n\tborder-left-color:#32cd32;\n}\n\n.f-top-right-quarter\n{\n\tborder-top-color:#ff0000;\n}\n\n.f-top-right-quarter.f-active\n{\n\tborder-top-color:#32cd32;\n}\n\n.f-top-left-square\n{\n\ttop:10%;\n\tleft:30%;\n\tright:63%;\n\tbottom:87%;\n\tposition:absolute;\n\tbackground-color:#ff0000;\n}\n\n.f-top-left-square.f-active\n{\n\tbackground-color:#32cd32;\n}\n\n.f-top-right-square\n{\n\ttop:10%;\n\tleft:63%;\n\tright:30%;\n\tbottom:87%;\n\tposition:absolute;\n\tbackground-color:#ff0000;\n}\n\n.f-top-right-square.f-active\n{\n\tbackground-color:#32cd32;\n}\n\n.f-middle-left-square\n{\n\ttop:25%;\n\tleft:14%;\n\tright:79%;\n\tbottom:72%;\n\tposition:absolute;\n\tbackground-color:#ff0000;\n}\n\n.f-middle-left-square.f-active\n{\n\tbackground-color:#32cd32;\n}\n\n.f-middle-right-square\n{\n\ttop:25%;\n\tleft:79%;\n\tright:14%;\n\tbottom:72%;\n\tposition:absolute;\n\tbackground-color:#ff0000;\n}\n\n.f-middle-right-square.f-active\n{\n\tbackground-color:#32cd32;\n}\n\n.f-bottom-left-square\n{\n\ttop:37%;\n\tleft:11%;\n\tright:77%;\n\tbottom:38%;\n\tposition:absolute;\n\tbackground-color:#808080;\n\tborder:5px solid #ff0000;\n}\n\n.f-bottom-left-square.f-active\n{\n\tborder-color:#32cd32;\n}\n\n.f-bottom-right-square\n{\n\ttop:37%;\n\tleft:77%;\n\tright:11%;\n\tbottom:38%;\n\tposition:absolute;\n\tbackground-color:#808080;\n\tborder:5px solid #ff0000;\n}\n\n.f-bottom-right-square.f-active\n{\n\tborder-color:#32cd32;\n}\n\n/* JOYSTICK */\n\n.f-joystick\n{\n\twidth:109px;\n\theight:109px;\n\tmargin:0 auto;\n\tposition:relative;\n}\n\n.f-joystick-up\n{\n\ttop:0;\n\tleft:30px;\n\twidth:0;\n\theight:0;\n\tposition:absolute;\n\tborder-style:solid;\n\tborder-width:0 25px 25px 25px;\n\tborder-color:transparent transparent #000 transparent;\n}\n\n.f-joystick-left\n{\n\ttop:30px;\n\tleft:0;\n\twidth:0;\n\theight:0;\n\tposition:absolute;\n\tborder-style:solid;\n\tborder-width:25px 25px 25px 0;\n\tborder-color:transparent #000 transparent transparent;\n}\n\n.f-joystick-right\n{\n\ttop:30px;\n\tright:0;\n\twidth:0;\n\theight:0;\n\tposition:absolute;\n\tborder-style:solid;\n\tborder-width:25px 0 25px 25px;\n\tborder-color:transparent transparent transparent #000;\n}\n\n.f-joystick-down\n{\n\tbottom:0;\n\tleft:30px;\n\twidth:0;\n\theight:0;\n\tposition:absolute;\n\tborder-style:solid;\n\tborder-width:25px 25px 0 25px;\n\tborder-color:#000 transparent transparent transparent;\n}\n\n</style>\n\n<script>\n\n$(\".f-joystick-up\").on{\"mousedown\", function() { SendData(\"up_down\"); }};\n$(\".f-joystick-up\").on{\"mouseup\",   function() { SendData(\"up_up\"); }};\n\n$(\".f-joystick-down\").on{\"mousedown\",  function() { SendData(\"down_down\"); }};\n$(\".f-joystick-down\").on{\"mouseup\",  function() { SendData(\"down_up\"); }};\n\n$(\".f-joystick-left\").on{\"mousedown\",  function() { SendData(\"left_down\"); }};\n$(\".f-joystick-left\").on{\"mouseup\",  function() { SendData(\"left_up\"); }};\n\n$(\".f-joystick-right\").on{\"mousedown\", function() { SendData(\"right_down\"); }};\n$(\".f-joystick-right\").on{\"mouseup\", function() { SendData(\"right_up\"); }};\n\nfunction SendData(button)\n{\n    switch(button)\n    {\n        case \"up_down\":\n            \n            break;\n            \n        case \"up_up\":\n            \n            break;\n            \n        case \"down_down\":\n            \n            break;\n            \n        case \"down_up\":\n            \n            break;\n            \n        default:\n            \n            break;\n    }\n}\n\n</script>\n\n<md-button class=\"f-joystick-up\" ng-click=\"send({msg :{payload: 'Red Button'}})\"> \n</md-button> \n\n<md-card>\n\t<div class=\"f-joystick\">\n\t\t<a href=\"#\" class=\"f-joystick-up\" ></a>\n\t\t<a href=\"#\" class=\"f-joystick-down\"></a>\n\t\t<a href=\"#\" class=\"f-joystick-left\"></a>\n\t\t<a href=\"#\" class=\"f-joystick-right\"></a>\n\t</div>\n</md-card>\n<!--<div ng-bind-html=\"msg.payload\"></div>-->","storeOutMessages":true,"fwdInMessages":true,"x":80,"y":1080,"wires":[["c46caf58.12232","69f4ed2c.a262ac"]]},{"id":"c46caf58.12232","type":"debug","z":"4249a1f9.0723a8","name":"","active":true,"console":"false","complete":"payload","x":590,"y":1120,"wires":[]},{"id":"ae05c19c.30fae8","type":"ui_chart","z":"4249a1f9.0723a8","name":"","group":"90d44fd5.6c5358","order":0,"width":0,"height":0,"label":"Power History","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"120","removeOlderPoints":"120","removeOlderUnit":"1","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1020,"y":320,"wires":[[],[]]},{"id":"686e671f.64018","type":"ui_chart","z":"4249a1f9.0723a8","name":"","group":"becfe476.a781","order":0,"width":0,"height":0,"label":"Battery History","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"120","removeOlderPoints":"120","removeOlderUnit":"1","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1020,"y":500,"wires":[[],[]]},{"id":"a62a8a39.4b6f98","type":"ui_gauge","z":"4249a1f9.0723a8","name":"Robot Orientation","group":"700560ee.a50de8","order":4,"width":0,"height":0,"gtype":"compass","title":"Orientation","label":"DEG","format":"{{value}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1010,"y":200,"wires":[]},{"id":"fe2033fe.6b5a3","type":"function","z":"4249a1f9.0723a8","name":"Angle","func":"msg.payload = parseInt(msg.payload.Angle);\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":200,"wires":[["a62a8a39.4b6f98"]]},{"id":"76c77ce3.5aeb84","type":"ui_gauge","z":"4249a1f9.0723a8","name":"","group":"c8604998.94d16","order":0,"width":0,"height":0,"gtype":"gage","title":"Velocity","label":"mm/s","format":"{{value}}","min":"-500","max":"500","colors":["#ca3838","#32cd32","#ca3838"],"seg1":"","seg2":"","x":1040,"y":640,"wires":[]},{"id":"7cbaf3ca.738a34","type":"function","z":"4249a1f9.0723a8","name":"Velocity","func":"msg.payload = parseInt(msg.payload.Velocity);\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":640,"wires":[["76c77ce3.5aeb84","d10e7ee5.f56a68"]]},{"id":"b3e09e74.81f4f8","type":"ui_button","z":"4249a1f9.0723a8","name":"","group":"700560ee.a50de8","order":3,"width":0,"height":0,"passthru":false,"label":"Stop","color":"","bgcolor":"","icon":"","payload":"Stoped","payloadType":"str","topic":"","x":70,"y":1120,"wires":[["c46caf58.12232","69f4ed2c.a262ac"]]},{"id":"914dd900.470558","type":"ui_toast","z":"4249a1f9.0723a8","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":1010,"y":740,"wires":[]},{"id":"48f78e1.a5248f","type":"function","z":"4249a1f9.0723a8","name":"Bat. Temp. Alarm","func":"// Global context data.\nvar globalContext = this.context.global;\n\n// Temperature data.\nvar temperature = parseInt(msg.payload.BatteryTemperature);\n\n// Dump message.\nvar dumpMsg = msg;\n\n// Get context data.\nvar tmpTemperature = globalContext.get('BatteryTemperatureAlarm1')||0;\n\n// Check for difernce.\nif(temperature != tmpTemperature)\n{\n    // Set changes to the sesion context data.\n    globalContext.set('BatteryTemperatureAlarm1', temperature);\n    \n    // If the data is greate then 20 deg bad.\n    if(temperature > 20)\n    {\n        dumpMsg.payload = 'Battery temperature critical: ' + temperature + 'C';\n        return dumpMsg;\n    }\n}\n\n","outputs":1,"noerr":0,"x":710,"y":820,"wires":[["914dd900.470558"]]},{"id":"c6ddf77.6e82988","type":"mqtt out","z":"4249a1f9.0723a8","name":"","topic":"pt/str/i/robot/2","qos":"0","retain":"","broker":"6d806c53.ec67b4","x":600,"y":1260,"wires":[]},{"id":"6b07f3e8.45a0a4","type":"inject","z":"4249a1f9.0723a8","name":"","topic":"","payload":"clean","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":1300,"wires":[["c43c1fe9.a73998"]]},{"id":"3b31404c.7b4338","type":"inject","z":"4249a1f9.0723a8","name":"","topic":"","payload":"dock","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":1260,"wires":[["3c9d1209.16cf6e"]]},{"id":"72e5eef8.03d96","type":"comment","z":"4249a1f9.0723a8","name":"Karel V1","info":"","x":80,"y":1460,"wires":[]},{"id":"52366e88.72abc","type":"function","z":"4249a1f9.0723a8","name":"Command parser","func":"\nvar response_sign = \"#\";\nvar termin_sign = \"\\r\\n\";\nvar cmd_position = \"POSITION\";\nvar cmd_greatings = \"GREATINGS\";\n\nvar payload = msg.payload;\n\nif(payload.startsWith(response_sign) && payload.endsWith(termin_sign))\n{\n    // Trim data.\n    payload = payload.replace(response_sign, \"\");\n    payload = payload.replace(termin_sign, \"\");\n\n    // Position\n    if(payload.includes(cmd_position))\n    {\n        // Trim data.\n        payload = payload.replace(cmd_position, \"\");\n        \n        // Split data.\n        var tokens = payload.split(/[\\s;\\s:]+/);\n        \n        if(tokens[1] == \"T\" && tokens[3] == \"R\" && tokens[5] == \"L\" && tokens[7] == \"R\")\n        {\n            // Create robot position.\n            var position = \n            {\n                Distance    : parseInt(tokens[2]),\n                Phase       : parseInt(tokens[4]),\n                FrontSensor : parseInt(tokens[6]),\n                BackSensor  : parseInt(tokens[8])\n            };\n            \n            // Replace temporal payload.\n            payload = position;\n        }\n    }\n    \n    // Greatings\n    if(payload.includes(cmd_greatings))\n    {\n        // Trim data.\n        payload = payload.replace(cmd_greatings, \"\");\n        \n        // Split data.\n        var tokens = payload.split(/[\\s;\\s:]+/);\n        \n        // Validate\n        if(tokens[1] !== \"\")\n        {\n            // Create robot position.\n            // Load object.\n            var greatings =\n            {\n                Message : tokens[1]\n            };\n            \n            // Replace temporal payload.\n            payload = greatings;\n        }\n    }\n}\n\n// Replace payload.\nmsg.payload = payload;\n\n// Return mesage.\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1500,"wires":[["5dad8d7.8b2a7f4"]]},{"id":"63797909.25ac58","type":"mqtt in","z":"4249a1f9.0723a8","name":"Robot Output Topic","topic":"pt/str/o/robot/1","qos":"0","broker":"6d806c53.ec67b4","x":110,"y":1500,"wires":[["52366e88.72abc"]]},{"id":"5dad8d7.8b2a7f4","type":"debug","z":"4249a1f9.0723a8","name":"","active":false,"console":"false","complete":"false","x":590,"y":1500,"wires":[]},{"id":"52cf55f8.221aec","type":"comment","z":"4249a1f9.0723a8","name":"iRobot Roomba 550","info":"","x":130,"y":40,"wires":[]},{"id":"69f4ed2c.a262ac","type":"ui_toast","z":"4249a1f9.0723a8","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":610,"y":1080,"wires":[]},{"id":"6fee2927.69c768","type":"mqtt in","z":"4249a1f9.0723a8","name":"Image Data","topic":"pt/img/o/robot/2","qos":"2","broker":"6d806c53.ec67b4","x":90,"y":940,"wires":[["e035ac3b.39489"]]},{"id":"e035ac3b.39489","type":"base64","z":"4249a1f9.0723a8","name":"","x":740,"y":940,"wires":[["1acb1ecb.cf9749"]]},{"id":"1acb1ecb.cf9749","type":"ui_template","z":"4249a1f9.0723a8","group":"a766b056.c919e","name":"Camera","order":0,"width":"6","height":"6","format":"<md-card md-theme=\"{{ showDarkTheme ? 'dark-grey' : 'default' }}\" md-theme-watch>\n    <img id='base64image' src='data:image/jpeg;base64, {{msg.payload}}' />\n</md-card>\n\n<!--<div ng-bind-html=\"msg.payload\"></div>-->","storeOutMessages":true,"fwdInMessages":true,"x":1040,"y":940,"wires":[[]]},{"id":"67cb0133.ccf2b8","type":"comment","z":"4249a1f9.0723a8","name":"Metrics data from the robot.","info":"","x":160,"y":100,"wires":[]},{"id":"2ad19abe.6fb85e","type":"comment","z":"4249a1f9.0723a8","name":"Visual data from the robot.","info":"","x":130,"y":900,"wires":[]},{"id":"416b0022.b96fc8","type":"comment","z":"4249a1f9.0723a8","name":"Input data to the robot.","info":"","x":120,"y":1040,"wires":[]},{"id":"3c9d1209.16cf6e","type":"function","z":"4249a1f9.0723a8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1260,"wires":[["c6ddf77.6e82988"]]},{"id":"c43c1fe9.a73998","type":"function","z":"4249a1f9.0723a8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1300,"wires":[["c6ddf77.6e82988"]]},{"id":"ce15ff53.02e03","type":"ui_template","z":"4249a1f9.0723a8","group":"700560ee.a50de8","name":"","order":0,"width":0,"height":0,"format":"<style>\n  .filled { \n      height: 100% !important;\n      padding: 0 !important;\n      margin: 0 !important;\n  }\n  .nr-dashboard-template {\n      padding: 0;\n      margin: 0;\n      overflow-x: hidden;\n      overflow-y: hidden;\n  }\n  .rounded {\n  border-radius: 20% 20% 20% 20%;\n}\n  .round {\n  border-radius: 100% 100% 100% 100%;\n}\n   .bigfont {\n  font-size: 18px;\n}\n   .smallfont {\n  font-size: 12px;\n}\n \n</style>\n \n<script>\n    $('.vibrate').on('click', function() {\n      navigator.vibrate(100);\n    });\n     \n    function restore_bg(x,y) {\n                $(this).css(\"background-color\", x);\n                $(this).css(\"background-image\", y);\n                 \n        };\n \n    $('.touched').on('mousedown', function() {\n \n        var x= $(this).css(\"background-color\");\n        var y= $(this).css(\"background-image\");  \n        $(this).css(\"background-image\", \"\");  \n        $(this).css(\"background-color\", \"yellow\");\n         \n        setTimeout(restore_bg.bind(this,x,y),200);\n        navigator.vibrate(80);\n    });\n</script>\n","storeOutMessages":true,"fwdInMessages":true,"x":80,"y":1160,"wires":[["69f4ed2c.a262ac","c46caf58.12232"]]},{"id":"d10e7ee5.f56a68","type":"ui_chart","z":"4249a1f9.0723a8","name":"","group":"c8604998.94d16","order":0,"width":0,"height":0,"label":"Velocity History","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"120","removeOlderPoints":"120","removeOlderUnit":"1","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1020,"y":680,"wires":[[],[]]},{"id":"3bc00a1d.5738ee","type":"function","z":"4249a1f9.0723a8","name":"Wall Sensor Alarm","func":"// Wall data.\nvar wall = parseInt(msg.payload.Wall);\n\n// Dump message.\nvar dumpMsg = msg;\n\n// Check for difernce.\nif(wall > 0)\n{\n    dumpMsg.payload = 'Wall Sensor Alarm: ' + wall;\n    return dumpMsg;\n}","outputs":1,"noerr":0,"x":710,"y":780,"wires":[["914dd900.470558"]]},{"id":"88930a09.a59e","type":"function","z":"4249a1f9.0723a8","name":"Left Bumper Sensor Alarm","func":"function bit_check(num, bit)\n{\n    return ((num >> bit) % 2 !== 0)\n}\n    \nfunction bit_set(num, bit)\n{\n    return num | 1<<bit;\n}\n    \nfunction bit_clear(num, bit)\n{\n    return num & ~(1<<bit);\n}\n    \nfunction bit_toggle(num, bit)\n{\n    return bit_check(num, bit) ? bit_clear(num, bit) : bit_set(num, bit);\n}\n\n// Left bumper data.\nvar leftBumper = parseInt(bit_check(msg.payload.BumpersAndWheelDrops, 0));\n\n// Dump message.\nvar dumpMsg = msg;\n\n// Check for difernce.\nif(leftBumper)\n{\n    dumpMsg.payload = 'Left bumper: ' + leftBumper;\n    return dumpMsg;\n}","outputs":1,"noerr":0,"x":680,"y":740,"wires":[["914dd900.470558"]]},{"id":"8aec0364.f6fb7","type":"delay","z":"4249a1f9.0723a8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":540,"wires":[["f2a937f8.ce065"]]},{"id":"b4fecd2c.350a2","type":"inject","z":"4249a1f9.0723a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100,"y":420,"wires":[["f2a937f8.ce065"]]},{"id":"b92fb6bd.c142d8","type":"debug","z":"4249a1f9.0723a8","name":"","active":true,"console":"false","complete":"false","x":330,"y":700,"wires":[]},{"id":"f2a937f8.ce065","type":"trigger","z":"4249a1f9.0723a8","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"2000","extend":false,"units":"ms","reset":"","name":"","x":300,"y":480,"wires":[["b92fb6bd.c142d8","8aec0364.f6fb7"]]},{"id":"5f4157ae.1de578","type":"switch","z":"4249a1f9.0723a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":""}],"checkall":"true","outputs":1,"x":270,"y":360,"wires":[[]]},{"id":"700560ee.a50de8","type":"ui_group","z":"","name":"SCADA","tab":"ee71edd4.168bc","order":1,"disp":true,"width":"6"},{"id":"90d44fd5.6c5358","type":"ui_group","z":"","name":"Power","tab":"ee71edd4.168bc","order":3,"disp":true,"width":"6"},{"id":"6d806c53.ec67b4","type":"mqtt-broker","z":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"becfe476.a781","type":"ui_group","z":"","name":"Battery","tab":"ee71edd4.168bc","order":4,"disp":true,"width":"6"},{"id":"c8604998.94d16","type":"ui_group","z":"","name":"Motion","tab":"ee71edd4.168bc","order":2,"disp":true,"width":"6"},{"id":"a766b056.c919e","type":"ui_group","z":"","name":"Camera","tab":"ee71edd4.168bc","order":5,"disp":true,"width":"6"},{"id":"ee71edd4.168bc","type":"ui_tab","z":"","name":"iRobot","icon":"dashboard","order":4}]